/*.staticWidth {
    width: 300px;
    height: 300px;
    background-color: #606060;
    background-image: url(https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
} */

/*#banner {
    background-color: #606060;
    width: 100%;
    height: 300px;
    background-image: url(https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500), url(https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: 200px, 100%;
    background-repeat: no-repeat;
    background-position: center, top left;
} */

/*h1 {
    font-weight: normal;
}

p {
    font-weight: 500;
    font-family: Arial;
}*/

/* body {
    text-transform: uppercase;
}

body > p{
    text-transform: none;
}*/

/*#header h1 {
    color: darkgreen;
}

#header h2 {
    color: #105030;
}

#header {
    background-color: antiquewhite;
}*/

/*a {
    color: crimson;
    text-decoration: none;
    font-weight: bold; 
}

a:hover {
    color: darkgreen;
    text-decoration: underline;
    background-color: aquamarine;
}*/

/*p {
    font-size: 14px;
    line-height: 2em;
    margin-bottom: 34px;
}*/
/*
.box {
    padding: 20px;
    margin: 20px;
    float: left;
    border: 1px blue 
}

.dashed {
    border: 1px blue dashed;
}

.dotted {
    border: 1px blue dotted;
}

.double {
    border: 4px blue double;
}

.groove {
    border: 14px blue groove;
}

.inset {
    border: 14px blue inset;
}

.outset {
    border: 14px blue outset;
}

.ridge {
    border: 14px blue ridge;
}

.solid {
    border: 1px blue solid;
}
*/

/*.block {
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
}

.inline {
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    display: inline-block;
}*/

/*a {
    padding: 10px;
    margin: 10px;
    background-color: #ccc;
    border: 1px solid #aaa;
    color: #000;
    text-decoration: none;
    display: inline-block;

}*/

/*#mainContent div {
    background-color: #ccc;
    margin: 0 0 20px 0;
}

.staticWidth {
    width: 300px;
    height: 100px;
    border-radius: 20px;
}

.percentageWidth {
    width: 70%;
    height: 50px;
    border-radius: 10px 15px;
}

.inlineBlock {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;    
}*/

/*#circle1 {
    width: 400px;
    height: 400px;
    position: absolute;
    background:rgb(200,200,100);
    border-radius: 200px;
    top: 50px;
    left: 50px;
    opacity: 1;
    text-align: center;
}

#circle2 {
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgba(200,100,200,0.9);
    border-radius: 200px;
    top: 250px;
    left: 150px;
    opacity: 0.3;
    text-align: center;
}

#circle3 {
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgba(100,200,200, 0.1);
    border-radius: 200px;
    top: 50px;
    left: 250px;
    text-align: center;
}*/

.button {
    display: block;
    width: 100px;
    padding: 12px;
    border: 1px solid #77aaaa;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background: #aadddd;
    background: -moz-linear-gradient(top, #aadddd 0%, #77aaaa 100%);
    background: -webkit-linear-gradient(top, #aadddd 0%, #77aaaa 100%);
    background: linear-gradient(top, #aadddd 0%, #77aaaa 100%);
    box-shadow: 2px 2px 4px 2px rgba(40, 40, 40, 0.6);
}

.button:hover {
    background: #77aaaa;
    background: -moz-linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
    background: -webkit-linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
    background: linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
}