/*.staticWidth {
    width: 300px;
    height: 300px;
    background-color: #606060;
    background-image: url(https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
} */

/*#banner {
    background-color: #606060;
    width: 100%;
    height: 300px;
    background-image: url(https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500), url(https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: 200px, 100%;
    background-repeat: no-repeat;
    background-position: center, top left;
} */

/*h1 {
    font-weight: normal;
}

p {
    font-weight: 500;
    font-family: Arial;
}*/

/* body {
    text-transform: uppercase;
}

body > p{
    text-transform: none;
}*/

/*#header h1 {
    color: darkgreen;
}

#header h2 {
    color: #105030;
}

#header {
    background-color: antiquewhite;
}*/

/*a {
    color: crimson;
    text-decoration: none;
    font-weight: bold; 
}

a:hover {
    color: darkgreen;
    text-decoration: underline;
    background-color: aquamarine;
}*/

/*p {
    font-size: 14px;
    line-height: 2em;
    margin-bottom: 34px;
}*/

.box {
    margin: 30px;
    padding: 30px;
    border: 1px solid #000;
    width: 90%;

}

